<link rel="stylesheet" href="/css/style.css">
{% extends base_layout %}

{% block title %}
        {% trans %}About{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}About{% endtrans %}
{% endblock %}

{% block content%}
<div id="edit_profile" class="well form-horizontal">
Founded in 2013 in Berkeley, California, AirShare is a community marketplace for students to list and share belongings which would otherwise be collecting dust in a closet. <br><br>

Whether it’s a GoPro for a week, a tent for a weekend, a mountain bike for a day, or a ladder for an hour, AirShare connects users with the gear that they need to complete their adventure and get stuff done. <br><br>

AirShare is the easiest way for students to monetize their spare gear and share it with other students in need.
</div>

<div id="edit_profile" class="well form-horizontal">
<div class= "title"> The Team </div>
<div class="picture"><img src="/boilerplate/img/EugeneWong.png" height = "250" width="250" alt="Eugene Wong"  />
<div class-"name-pos">Eugene Wong, CEO</div>
</div>
<div class="picture"><img src="/boilerplate/img/SamSchneider.png" height = "250" width="250" alt="Sam Schneider"  />
<div class-"name-pos">Sam Schneider, CFO</div>
</div>
<div class="picture"><img src="/boilerplate/img/OrenFriedman.png" height = "250" width="250" alt="Oren Friedman"  />
<div class-"name-pos">Oren Friedman, COO</div>
</div>
<div class="picture"><img src="/boilerplate/img/AmitPatankar.png" height = "250" width="250" alt="Amit Patankar"  />
<div class-"name-pos">Amit Patankar, CTO</div>
</div>
<div class="picture"><img src="/boilerplate/img/ShyamKumar.png" height = "250" width="250" alt="Shyam Kumar"  />
<div class-"name-pos">Shyam Kumar, VP Product Development</div>
</div>
<div class="picture"><img src="/boilerplate/img/MattThorson.png" height = "250" width="250" alt="Matt Thorson"  />
<div class-"name-pos">Matt Thorson, CMO</div>
</div>


<div class="picture"><img src="/boilerplate/img/ConnorLandgraf.png" height = "250" width="250" alt="Connor Landgraf"  />
<div class-"name-pos">Connor Landgraf, Advisor, CEO Eko Devices</div>
</div>
</div>	
{% endblock %}
