{% extends base_layout %}

{% block title %}
        {% trans %}About{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}About{% endtrans %}
{% endblock %}

{% block content%}
Founded in 2013 in Berkeley, California, AirShare is a community marketplace for students to list and share belongings which would otherwise be collecting dust in a closet. <br><br>

Whether it’s a GoPro for a week, a tent for a weekend, a mountain bike for a day, or a ladder for an hour, AirShare connects users with the gear that they need to complete their adventure and get stuff done. <br><br>

AirShare is the easiest way for students to monetize their spare gear and share it with other students in need.
{% endblock %}
