{% extends base_layout %}

{% block header_title %}
        My Profile
{% endblock %}

{% block content %}
	<div id="edit_profile" class="well form-horizontal">

	<form id="form_add_picture" action="{{ uri_for("add-item") }}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
		<label> Upload a picture of your item! </label>
		<input type="file" name="img" id="file_item"><br>
		Item Name: <input type="text" name="item-name" required><br>
		Description: <input type="text" name="item-description" required><br>
		Price Point: <input type="number" name="item-price" step="0.01" min= "0.00" required><br>
		<input type="submit" name="submit" value="Submit">
	</form>
	
	</div>

	<div id="edit_profile" class="well form-horizontal">

	{% set items = uploadedItems %}
	{% set yes = added %}
	<div>
		Your Stuff
		<br>
		[Click refresh if your item does not immediately appear below]
		<ul>
			{% if yes == True %}
				You currently have {{ items.count() }} items!
				
				{% for i in items %}
					<br>
					<li >Title: {{ i.title }}</li>
					<li >Description: {{ i.description }}</li>
					<li >Price: ${{ i.price }}</li>
					<form action="{{ uri_for("edit-item-inter") }}">
						<input type="hidden" name="item-to-edit" value="{{ i.key.urlsafe() }}">
    					<input type="submit" value="Edit Item">
					</form>
				{% endfor %}
			{% endif %}

		</ul>	
	</div>	
	</div>
{% endblock %}	